language: objective-c
os: osx
osx_image: xcode11.5
xcode_workspace: Example/AppauthWrapper.xcworkspace path to your xcodeproj folder
xcode_scheme: AppauthWrapper-Example
xcode_destination: platform=iOS Simulator,OS=13.5,name=iPhone X
