language: swift
cache: cocoapods
podfile: Example/Podfile
osx_image: xcode11.5

before_install:
 - gem install cocoapods # Since Travis is not always on latest version
 - pod install --project-directory=Example

script:
  - set -o pipefail && xcodebuild -workspace Example/AppauthWrapper.xcworkspace -scheme  AppauthWrapper -sdk iphonesimulator13.5 ONLY_ACTIVE_ARCH=NO  | xcpretty
  - pod lib lint --allow-warnings
